<!-- template for landing page -->
{% extends "base.html" %}

{% block toolbar %}
<a class="navbar-brand" style="margin-top:5px" href="/login">Login</a>
<a class="navbar-brand" style="margin-top:5px" href="/register">Register</a>
{% endblock %}

{% block header %}
{% endblock %}
{% block title %}{{ Title }}{% endblock %}
{% block content %}
    <div align="center">
    <h1 style='font-family: "Russo One"'> {# All this mess to make it look like Facebook #}
        <br><br>{{ heading }}
    </h1>
    <!-- Featured post of the day - picks a random post  -->
    <div style='color:rgb(150,150,150)'> {# make it look nice and cool :3 #}
      {{ desc }}</div>
        {% if randPost %}<br><br><br>
        Our featured post of the Day by <strong>{{ randPost[0] }}</strong>!<br><br>
        <!-- Prints out name, time, and content of post -->
        {{ randPost[0] }}  {{ randPost[2] }}<br>
        {{ randPost[1] }}<br>----------------------------
        {% endif %}
    </div>
{% endblock %}
