<!-- template for landing page -->

<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
        <title>{{ Title }}</title>
        <table>
            <td>
                <form>
                    <input type="hidden" placeholder="Search">
                </form>
            </td>
        <td>
            <form action="/login">
                <input type="submit" value="Login">
            </form>
        </td>
        <td>
            <form action="/register">
                <input type="submit" value="Register">
            </form>
        </td>
    </table>
    </form>
    </head>
    <body>
    <div align="center">
    <h1> {# All this mess to make it look like Facebook #}
        <br><br>{{ heading }}
    </h1>
    <h3> {# make it look nice and cool :3 #}
        <i>{{ desc }}</i></h3>
        {% if randPost %}<br><br><br><br><br><br><br><br><br><br>
        Our featured post of the Day by {{ randPost[0] }}!<br><br>
        {{ randPost[0] }}  {{ randPost[2] }}<br>
        {{ randPost[1] }}<br>----------------------------
        {% endif %}
    </body>
    </div>
</html>
