<!-- template for login form -->

{% extends "base.html" %}

{% block title %}
Login to Humblr
{% endblock %}

{% block toolbar %}
<a class="navbar-brand" style="margin-top:5px" href="/login">Login</a>
<a class="navbar-brand" style="margin-top:5px" href="/register">Register</a>
{% endblock %}

{% block content %}
      <div align="center" style="transform: translateY(50%)">
      {% set msgs = get_flashed_messages() %}
      {% for each in msgs %}
      {# Checks if an error exists and displays an error if it does #}
      {% if each %}
        <strong>{{each}}</strong>
	    {% endif %}
      {% endfor %}
      <br><br>
      <form action="/auth" method="POST">
          <input type="text" name="username" placeholder="Username"><br><br>
          <input type="password" name="password" placeholder="Password"><br><br>
          <a href="/auth">
            <center><button>Login</button></center>
          </a>
      </div>
{% endblock %}

{% block footer %}
Humblr 2018&copy;
{% endblock footer %}
