<!-- template for new post submission form for individual blogs -->

{% extends 'base.html' %}

{% block title %}
Create a New Post
{% endblock title %}

{% block content %}
{% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {# Checks if an error exists and displays an error if it does #}
    {% if each %}
        <div align="center">
        <strong>{{each}}</strong>
        </div>
	    {% endif %}
    {% endfor %}
    <div align="center">
        <form action="/new-post" method="POST">
            <input type="text" name="content" placeholder="Feeling humbled beacuse..."><br>
            <table>
                <td>
                  <form action="/">
                    <input type="submit" value="Cancel">
                  </form>
                </td>
                <td>
                <input type="submit" value="Create"></form>
                </td>
            </table>

    </div>
{% endblock content %}
{% block footer %}
Humblr 2018&copy;
{% endblock footer %}
