<!-- template for register form used to create a new account -->

{% extends 'base.html' %}

{% block title %}
Register on Humblr
{% endblock title %}

{% block content %}
{% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {# Checks if an error exists and displays an error if it does #}
    {% if each %}
        <div align="center">
        <strong>{{each}}</strong>
        </div>
	    {% endif %}
    {% endfor %}
    <div align="center">
        <form action="/register-auth" method="POST">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="confirm" placeholder="Retype your password"><br><br>
            <table>
                <td>
                <input type="submit" value="Register"></form>
                </td>
                <td>
                <form action="/">
                    <input type="submit" value="Go Back">
                </form>
                </td>
            </table>

    </div>
{% endblock content %}
{% block footer %}
Humblr 2018&copy;
{% endblock footer %}
