<!-- template for register form used to create a new account -->

{% extends 'base.html' %}

{% block title %}
Register on Humblr
{% endblock title %}

{% block toolbar %}
<a class="navbar-brand" style="margin-top:5px" href="/login">Login</a>
<a class="navbar-brand" style="margin-top:5px" href="/register">Register</a>
{% endblock %}

{% block content %}
{% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {# Checks if an error exists and displays an error if it does #}
    {% if each %}
        <div align="center">
        <strong>{{each}}</strong>
        </div>
	    {% endif %}
    {% endfor %}
    <div align="center" style="transform: translateY(50%)">
        <h1>Register</h1>
        <br><br>
        <form action="/register-auth" method="POST">
          <!-- change password by searching for username in database. Then confirming the password.  -->
            <input type="text" name="username" placeholder="Username"><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <input type="password" name="confirm" placeholder="Retype your password"><br><br>
            <center><a href="/auth"><button>Register</button></a></center>
    </div>
{% endblock content %}
{% block footer %}
Humblr 2018&copy;
{% endblock footer %}
