<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
        <title>{{ Title }}</title>
        <table align="right">
            <td>
                <form style="text-align:center;" align="left">
                    <input type="search" placeholder="Search">
                </form>
            </td>
        <td>
            <form action="/login" style="text-align: center;">
                <input type="submit" value="Login">
            </form>
        </td>
        <td>
            <form action="/register" style="text-align: center;">
                <input type="submit" value="Register">
            </form>
        </td>
    </table>
    </form>
    </head>
    <body style="background-color:rgb(45, 103, 189);">
    <h1 style="color:white; text-align:center; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 350%"> {# All this mess to make it look like Facebook #}
        <br><br>{{ heading }}
    </h1>
    <h3 style="color:white; text-align:center; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 100%"> {# make it look nice and cool :3 #}
        <i>{{ desc }}</i></h3>
    </body>
</html>